body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fa-star{
  margin:0.5em;
  font-size: 24px;
}

span{
  display:inline-block;
  margin: 0.5em;
  text-align: center;
}

.numbers-container span,
.stopwatch-container span,
.answer-container span{
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  width:24px;
}

.selected{
  background-color: #eee;
  color:#ddd;
  cursor: not-allowed;
}

.numbers-container span.used{
  background-color: #aaddaa;
  color: #99bb99;
  cursor: not-allowed;
}

.wrong{
  background-color: red;
}

.correct{
  background-color:green;
}